@media screen and (min-width: 751px) {
    .footerLayout--footer__container--mobile {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .footerLayout--footer__container {
        display: none;
    }
}
@media screen and (min-width: 1026px) {
    .flexCol--static__questions--answers :global(.vtex-store-footer-2-x-footerLayout--footer__container) {
        display: none;
    }
}