/*.notificationBarInner--home_section--one {
    background-color: black;
}*/
.vtex-flex-layout-0-x-stretchChildrenWidth {
    width: 0%;
}
.shareContainer {
    justify-content: space-around;
    display: flex;
}
@media screen and (min-width: 1026px) {
    .searchResultContainer--search-layout-desktop--department :global(.vtex-store-footer-2-x-footerLayout--footer__container) {
        display: none;
    }
} 
/*.imageElement {
    padding: 3rem;
}*/

