.slideChildrenContainer--home__slider {
  min-height: 420px;
  max-height: 420px;
}
.sliderLayoutContainer--products--carousel-desktop {
  background-color: #f3f3f3;
}
@media screen and (max-width: 1025px) {
  .slideChildrenContainer--home__slider {
    min-height: 420px;
    max-height: 420px;
  }
  .paginationDotsContainer--home__slider {
    transform: translateY(30px);
  }
}

@media screen and (min-width: 1026px) {
  .sliderLayoutContainer--products--carousel-desktop {
    padding-left: 6.8rem !important;
    padding-right: 5rem !important;
  }
  .bullet__item--title {
    font-size: 15px;
    color: #3f3f40;
  }
  .bullet__item--link {
    text-decoration: none;
  }
  .bullet__item--title:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
  .bullet__item--image {
    width: 12rem;
  }
  .bullet__item {
    padding-top: 5rem;
  }
}
