:global(.vtex-login-2-x-label) {
  display: block;
  color: #121212;
}

:global(.vtex-login-2-x-profileIcon) {
  width: 20px;
  height: 20px;
}
:global(.vtex-login-2-x-profile) {
  display: none;
}

@media screen and (min-width: 990px) {
  :global(.vtex-login-2-x-profileIcon) {
    width: 23px;
    height: 23px;
  }
}

:global(.vtex-login-2-x-container) {
  width: 38px;
}
@media screen and (max-width: 1025px) {
  :global(.vtex-login-2-x-container) {
    width: 24px;
  }
  :global(.vtex-button__label) {
    padding-left: 0;
  }
}