.cartIcon {
  width: 18px;
  height: 18px;
}

.openIconContainer {
  padding-right: 0px;
}

@media screen and (min-width: 990px) {
  .cartIcon {
    width: 21px;
    height: 21px;
  }
}
@media screen and (max-width: 1025px) {
  .openIconContainer {
    padding-left: 0px;
  }
  .openIconContainer :global(.vtex-button__label) {
    padding-left: 0px;
  }
}