:global(.vtex-login-2-x-label) {
    display: block;
    color: #121212
}
:global(.vtex-login-2-x-buttonLink) {
    background-color: #12121208;
    padding: 20px;
}

:global(.vtex-login-2-x-profileIcon) {
    color: #121212;
}