.paragraph--global__product-disclosure--textTitle {
    font-size: 15px;
    color: #121212;
    text-transform: capitalize;
}
.paragraph--disclosure__product-detail--text {
    font-size: 15px;
    color: #121212;
}