@media screen and (max-width: 1025px) {
    .link--rich-text__footer__container--options {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 2.5;
        letter-spacing: .8px;
    }
    .paragraph--rich-text__footer__container--creaciones-title,
    .paragraph--rich-text__footer__container--servicios-title,
    .paragraph--rich-text__footer__container--empresa-title {
        font-size: 16px;
        letter-spacing: .8px;
    }
    .paragraph--rich-text__footer__container--creaciones-title,
    .paragraph--rich-text__footer__container--servicios-title,
    .paragraph--rich-text__footer__container--empresa-title {
        padding-top: 2rem;
    }
    .paragraph--news-title {
        font-size: 16px;
    }
}