.submenuAccordion {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 18rem;
}

@media screen and (min-width: 990px) {
    .styledLinkContent {
        font-size: 14px;
        color: #121212BF;
        letter-spacing: 1px;
    }
}
