.flexRowContent--footer__container
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  background-color: #ffffff;
}
.flexRow--footer__container {
  margin-top: 24px;
}
.flexRow--footer__container :global(.vtex-store-components-3-x-container) {
  padding-left: 10rem;
}
.flexRowContent--footer__container--letter
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 80%;
  background-color: white;
}
.flexRowContent--footer__container--payments :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    background-color: #ffffff;
}
.flexRowContent--footer__container--letter {
  padding-top: 2rem;
}
.flexRow--footer__container--payments :global(.vtex-store-components-3-x-container) {
    border-top: 1px solid #E6E6E6;
    margin-top: 24px;
}
.flexRowContent--footer__container--payments :global(.vtex-rich-text-0-x-container) {
    justify-content: center;
    margin-top: 24px;
}
.flexRowContent--footer__container--payments :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    margin-top: 0;
}
.flexColChild--footer__container--pay {
  justify-content: center;
  display: flex;
}
.flexRowContent--footer__container--payments {
  margin-top: 3rem;
}

@mEdia screen and (min-width: 1600px) {
  .flexRow--footer__container--letter {
    margin-left: 9.5rem;
    margin-right: 9rem;
  }
}
@media screen and (min-width: 1661px) {
  .flexRow--footer__container--letter {
    margin-left: 21.2rem;
    margin-right: 21.2rem;
  }
}
